<div class="jumbotron">
<h1>This is the new index page I built</h1>
<p>I'm 57% through this book now</p>
<p>I just wrapped the login page in a panel from Bootstrap</p>
<%= link_to 'About Us', home_about_path, class: 'btn btn-warning' %>
<%= link_to 'Home',root_path, class: 'btn btn-primary' %>
</div>
