<div class="jumbotron">
<h1>This is the new index page I built</h1>
<p>I'm 69% through this book now</p>
<p>Added scaffold, sample pin, and updated header file</p>
<%= link_to 'About Us', home_about_path, class: 'btn btn-warning' %>
<%= link_to 'Home',root_path, class: 'btn btn-primary' %>
</div>
