<div class="jumbotron">
<h1>This is the new index page I built</h1>
<p>I'm 78% through this book now</p>
<p>Figured out how to delete old pins by contacting author; built upload image button.</p>
<%= link_to 'About Us', home_about_path, class: 'btn btn-warning' %>
<%= link_to 'Home',root_path, class: 'btn btn-primary' %>
</div>
